body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:10;
    background-color: #ddd;
}
a:link { color: #0000f0 ; }
a:visited { color: #0000f0 ; }
a {
    text-decoration: none;
}

.answers {
    padding:10;
    background-color:#fff;
}
.answer {
    color: black;
    background-color: #ddd;
    margin: 5;
    border: 10;
    padding: 10;
    border-radius: 10px;
    display: inline-block; /* これが大事 */
}
.answerdelete {
    color: black;
    background-color: #fff;
    padding: 3;
    border-radius: 7px;
    font-size: 20px;
}
.answeraddbutton {
    color: black;
    background-color: #fff;
    margin: 10;
    border: 0;
    padding: 10;
    border-radius: 10px;
    vertical-align: top;
    width: 400px;
}
#answeradd {
    width:300;
}

.questions {
    padding:10;
    background-color: #fff;
}
.question {
    color: black;
    background-color: #ddd;
    margin: 5;
    border: 10;
    padding: 10;
    border-radius: 10px;
    display: inline-block; /* これが大事 */
}
.questiondelete {
    color: black;
    background-color: #fff;
    padding: 3;
    border-radius: 7px;
    font-size: 20px;
}
.questionaddbutton {
    color: black;
    background-color: #fff;
    margin: 10;
    border: 0;
    padding: 10;
    border-radius: 10px;
    vertical-align: top;
}
#questionadd {
    width: 400;
}
