body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:10;
}
a:link { color: #0000f0 ; }
a:visited { color: #0000f0 ; }
a {
    text-decoration: none;
}
.test {
    color: black;
    background-color: #ddd;
    margin: 5;
    border: 10;
    padding: 10;
    border-radius: 10px;
    display: inline-block; /* これが大事 */
}
.button {
    color: black;
    background-color: #fff;
    padding: 3;
    border-radius: 7px;
    font-size: 20px;
}
.answers {
    padding:10;
    background-color:yellow;
}

.add {
    color: black;
    background-color: #ddd;
    margin: 10;
    border: 0;
    padding: 10;
    border-radius: 10px;
    vertical-align: top;
}
